ytd-thumbnail-overlay-time-status-renderer {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
  }
  
#overlays.ytd-thumbnail ytd-thumbnail-overlay-time-status-renderer {
display: none !important;
}